.register-container{
    width: 100%; /*largura*/
    max-width: 1120px; /*largura maxima*/
    height: 100vh; /*altura*/
    margin: 0 auto; /*fazer com que fique sempre centralizado, não importa o zoom*/

    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container .content{
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between; /*jogar as section, uma pra cada lado, e vai colocar um espaço entre eles */
    align-items: center;
}

.register-container .content section{
    width: 100%;
    max-width: 380px
}

.register-container .content section h1{
    margin: 64px 0 32px;
    font-size: 32px;
}

.register-container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.register-container .content form{
    width: 100%;
    max-width: 450px;
}

.register-container .content form input{
    margin-top: 8px;

}

.register-container .content form .input-group{
    display: flex;
}

.register-container .content form .input-group input+input{
    margin-left: 8px;
}